body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

.mainContainer {
    width: 100%;
}

.mainContainer .topBackground {
    background-image: url('../images/bg-header-desktop.svg');
    background-color: hsl(180, 29%, 50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer .topBackground img {
    visibility: hidden;
}

.mainContainer .filtersDiv {
    background-color: hsl(180, 52%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.mainContainer .filtersDiv .filterBox {
    display: flex;
    background-color: white;
    width: calc(70% + 3.6rem);
    border-radius: 5px;
    position: absolute;
    box-shadow: 9px 7px 15px -3px hsl(180, 8%, 52%);
    top: -30px;
}

.mainContainer .filtersDiv .filterBox .filter {
    display:flex;
    margin: 0.8rem;
    margin-left: 2rem;
    cursor: pointer;
}

.mainContainer .filtersDiv .filterBox .filter .filterButton {
    background-color: hsl(180, 52%, 96%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: hsl(180, 29%, 50%);
    font-weight: 500;
    font-size: 0.7rem;
    padding: 10px;
    flex-shrink: 0;
    font-weight: 500;
}

.mainContainer .filtersDiv .filterBox .filter .deleteButton {
    background-color: hsl(180, 29%, 50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.mainContainer .filtersDiv .filterBox .filter .deleteButton:hover {
    background-color: hsl(180, 8%, 52%);
}

.mainContainer .offersDiv {
    background-color: hsl(180, 52%, 96%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 0;
}

.mainContainer .offersDiv .offer {
    width: 70%;
    background-color: white;
    display: flex;
    padding: 1.8rem;
    border-radius: 5px;
    position: relative;
    box-shadow: 9px 7px 15px -3px hsl(180, 8%, 52%);
    margin-bottom: 1.6rem;
}

.mainContainer .offersDiv .featuredOffer {
    border-left: 4px solid hsl(180, 29%, 50%);
    padding-left: calc(1.8rem - 4px);
}


.mainContainer .offersDiv .offer .offerDescription {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    justify-content: space-between;
    align-self: stretch;
}

.mainContainer .offersDiv .offer .offerDescription .companyInfo {
    display: flex;
    align-items: center;
}

.mainContainer .offersDiv .offer .offerDescription .companyInfo .companyName {
    color: hsl(180, 29%, 50%);
    font-weight: 500;
    font-size: 0.8rem;
}

.mainContainer .offersDiv .offer .offerDescription .companyInfo .new {
    color: white;
    display: inline-block;
    background-color: hsl(180, 29%, 50%);
    border-radius: 15px;
    height: 12px;
    vertical-align: 10px;
    padding: 3% 5%;
    line-height: 14px;
    font-size: 0.5rem;
    font-weight: 700;
    margin-left: 1.2rem;
}

.mainContainer .offersDiv .offer .offerDescription .companyInfo .featured {
    color: white;
    display: inline-block;
    flex-shrink: 0;
    align-items: center;
    background-color: hsl(180, 14%, 20%);
    border-radius: 15px;
    height: 12px;
    vertical-align: 10px;
    padding: 3% 5%;
    line-height: 14px;
    font-size: 0.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.mainContainer .offersDiv .offer .offerDescription .position {
    font-size:1rem;
    font-weight: 700;
}

.mainContainer .offersDiv .offer .offerDescription .positionInfo {
    font-size:0.8rem;
    font-weight: 500;
    color: hsl(180, 8%, 52%);
    display: flex;
}

.mainContainer .offersDiv .offer .offerDescription .positionInfo .item {
    margin-right: 0.8rem;
}

.mainContainer .offersDiv .offer .tagsDiv {
    margin-left: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
}

.mainContainer .offersDiv .offer .tagsDiv .tag {
    background-color: hsl(180, 52%, 96%);
    border-radius: 5px;
    color: hsl(180, 29%, 50%);
    font-weight: 500;
    font-size: 0.7rem;
    padding: 10px;
    flex-shrink: 0;
    font-weight: 500;
    margin-left: 1rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}